body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.art-container {
  position: relative;
}

.head {
  width: 400px;
  height: 350px;
  background: blue;
  border-radius: 160px / 70px;
}
.head:before {
  content: '';
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: -5%;
  left: -5%;
  background: inherit;
  border-radius: 11% / 50%;
}
.bod{
  position:absolute;
  top: 120px;
  left: 50px;
  border-bottom: 200px solid red;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  height: 0;
  width: 200px;
}
.footl{
  position:absolute;
  top: 420px;
  left: 270px;
  width: 80px;
  height: 100px;
  background: blue;
  border-radius: 70px / 50px;
}
.footr{
  position:absolute;
  top: 420px;
  right: 270px;
  width: 80px;
  height: 100px;
  background: blue;
  border-radius: 70px / 50px;
}
.legl{
  position:absolute;
  top: 415px;
  left: 265px;
  width: 90px;
  height: 110px;
  background: yellow;
  border-radius: 70px / 50px;
}
.legr{
  position:absolute;
  top: 415px;
  right: 265px;
  width: 90px;
  height: 110px;
  background: yellow;
  border-radius: 70px / 50px;
}
.arml{
  position:absolute;
  top: 130px;
  left: 230px;
  width: 150px;
  height:60px;
  background: yellow;
  transform: rotate(40deg);
  
}
.arml:after {
  content: '';
  position: absolute;
  top: -5%;
  bottom: -5%;
  right: -10%;
  left: -10%;
  background: inherit;
  border-radius: 15% / 50%;
}
.armr{
  position:absolute;
  top: 130px;
  left:15px;
  width: 150px;
  height:60px;
  background: yellow;
  transform: rotate(-40deg);
  
}
.armr:after {
  content: '';
  position: absolute;
  top: -5%;
  bottom: -5%;
  right: -10%;
  left: -10%;
  background: inherit;
  border-radius: 15% / 50%;
}
  
.face{
  position: absolute;
  top: 145px;
  right:50px;
  width:300px;
  height: 200px;
  background: yellow;
  border-radius: 100px / 50px;
}
.face:after {
  content: '';
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: -5%;
  left: -5%;
  background: inherit;
  border-radius: 15% / 50%;
}
.circle1{
  position: absolute;
  top: 150px;
  right: 330px;
  width: 90px;
  height: 90px;
  background: blue;
  border-radius: 50%;
}
.circle2{
  position: absolute;
  top: 150px;
  left: 330px;
  width: 90px;
  height: 90px;
  background: blue;
  border-radius: 50%;
}
.circle3{
  position: absolute;
  top: 100px;
  right: 270px;
  width: 90px;
  height: 90px;
  background: blue;
  border-radius: 50%;
}
.circle4{
  position: absolute;
  top: 100px;
  left: 270px;
  width: 90px;
  height: 90px;
  background: blue;
  border-radius: 50%;
}
.circle5{
  position: absolute;
  top: 80px;
  right: 190px;
  width: 90px;
  height: 90px;
  background: blue;
  border-radius: 50%;
}
.circle6{
  position: absolute;
  top: 80px;
  left: 190px;
  width: 90px;
  height: 90px;
  background: blue;
  border-radius: 50%;
}
.hair1{
  position: absolute;
  top: 170px;
  right: 330px;
  width: 80px;
  height: 80px;
  background: red;
  border-radius: 50%;
}
.hair2{
  position: absolute;
  top: 170px;
  left: 330px;
  width: 80px;
  height: 80px;
  background: red;
  border-radius: 50%;
}
.hair3{
  position: absolute;
  top: 140px;
  right: 270px;
  width: 90px;
  height: 90px;
  background: red;
  border-radius: 50%;
}
.hair4{
  position: absolute;
  top: 140px;
  left: 270px;
  width: 90px;
  height: 90px;
  background: red;
  border-radius: 50%;
}
.hair5{
  position: absolute;
  top: 130px;
  right: 190px;
  width: 90px;
  height: 90px;
  background: red;
  border-radius: 50%;
}
.hair6{
  position: absolute;
  top: 130px;
  left: 190px;
  width: 90px;
  height: 90px;
  background: red;
  border-radius: 50%;
}  
.square1{
  position: absolute;
  top: 200px;
  left: 365px;
  width: 40px;
  height: 70px;
  background: blue;
}
.square2{
  position: absolute;
  top: 200px;
  right: 365px;
  width: 40px;
  height: 70px;
  background: blue;
}
.eye1{
  position: absolute;
  top: 240px;
  right: 270px;
  width: 55px;
  height: 55px;
  background: red;
  border-radius: 50%;
}
.eye2{
  position: absolute;
  top: 240px;
  left: 270px;
  width: 55px;
  height: 55px;
  background: red;
  border-radius: 50%;
} 
.mouth{
  position: absolute;
  top: 310px;
  right: 190px;
  width: 15px;
  height: 15px;
  background: red;
  border-radius: 50%;
} 
.ear1{
  position:absolute;
  top: -80px;
  left: 210px;
  width: 160px;
  height:140px;
  background: yellow;
  transform: rotate(-80deg);
  
}
.ear1:after {
  content: '';
  position: absolute;
  top: 0%;
  bottom: 0%;
  right: -20%;
  left: 0%;
  background: inherit;
  border-radius: 20% / 50%;
}
.ear2{
  position:absolute;
  top: -80px;
  right: 210px;
  width: 160px;
  height:140px;
  background: yellow;
  transform: rotate(-100deg);
  
}
.ear2:after {
  content: '';
  position: absolute;
  top: 0%;
  bottom: 0%;
  right: -20%;
  left: 0%;
  background: inherit;
  border-radius: 20% / 50%;
}
.inear1{
  position:absolute;
  top: -36px;
  left: 225px;
  width: 120px;
  height:90px;
  background: red;
  transform: rotate(-80deg);
  
}
.inear1:after {
  content: '';
  position: absolute;
  top: 0%;
  bottom: 0%;
  right: -20%;
  left: 0%;
  background: inherit;
  border-radius: 20% / 50%;
}
.inear2{
  position:absolute;
  top: -36px;
  right: 225px;
  width: 120px;
  height:90px;
  background: red;
  transform: rotate(-100deg);
  
}
.inear2:after {
  content: '';
  position: absolute;
  top: 0%;
  bottom: 0%;
  right: -20%;
  left: 0%;
  background: inherit;
  border-radius: 20% / 50%;
}

