body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.art-container {
  position: relative;
}

.head {
  width: 400px;
  height: 350px;
  background: blue;
  border-radius: 160px / 70px;
}
.head:before {
  content: '';
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: -5%;
  left: -5%;
  background: inherit;
  border-radius: 11% / 50%;
}
.bod{
  position:absolute;
  top: 120px;
  left: 50px;
  border-bottom: 200px solid red;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  height: 0;
  width: 200px;
}
.footl{
  position:absolute;
  top: 420px;
  left: 270px;
  width: 80px;
  height: 100px;
  background: blue;
  border-radius: 70px / 50px;
}
.footr{
  position:absolute;
  top: 420px;
  right: 270px;
  width: 80px;
  height: 100px;
  background: blue;
  border-radius: 70px / 50px;
}
.legl{
  position:absolute;
  top: 415px;
  left: 265px;
  width: 90px;
  height: 110px;
  background: yellow;
  border-radius: 70px / 50px;
}
.legr{
  position:absolute;
  top: 415px;
  right: 265px;
  width: 90px;
  height: 110px;
  background: yellow;
  border-radius: 70px / 50px;
}
.arml{
  position:absolute;
  top: 120px;
  left: 240px;
  width: 150px;
  height:60px;
  background: yellow;
  transform: rotate(40deg);
  
}
.arml:after {
  content: '';
  position: absolute;
  top: -5%;
  bottom: -5%;
  right: -10%;
  left: -10%;
  background: inherit;
  border-radius: 15% / 50%;
}
.armr{
  position:absolute;
  top: 120px;
  left:5px;
  width: 150px;
  height:60px;
  background: yellow;
  transform: rotate(-40deg);
  
}
.armr:after {
  content: '';
  position: absolute;
  top: -5%;
  bottom: -5%;
  right: -10%;
  left: -10%;
  background: inherit;
  border-radius: 15% / 50%;
}
  
.face{
  position: absolute;
  top: 145px;
  right:50px;
  width:300px;
  height: 200px;
  background: yellow;
  border-radius: 100px / 50px;
}
.face:after {
  content: '';
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: -5%;
  left: -5%;
  background: inherit;
  border-radius: 15% / 50%;
}
