body {
    display: flex;
    margin: 0;
    height: 100vh;
    
}

.art-container {
  display:flex;
  position: relative;
}

.head {
   display:flex;
    transform: translate(-100px, 0px);
    width: 400px;
    height: 350px;
    flex-wrap: nowrap;
    justify-content: center;
    align-self: center;
    background: #a2d2ff;
    border-radius: 160px / 70px;
}

.head:before {
    content: '';
    position: absolute;
    top: 10%;
    bottom: 10%;
    right: -5%;
    left: -5%;
    background: inherit;
    border-radius: 11% / 50%;
}

.bod{
    display: flex;
    transform: translate(360px, 250px);
    border-bottom: 200px solid #A2C9FF;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 0;
    width: 200px;
    justify-content: center;
    align-self: center;
}

.leg1{
    transform: translate(-60px, 120px);
}
.leg2{
    transform: translate(60px, 120px);
}
.leg1, .leg2{
    display: flex;
    width: 90px;
    height: 110px;
    background: #a2d2ff;
    border-radius: 70px / 50px;
}
.footl{
  transform:translate(5px,0px);
  background: #b7e4c7;
}
.footr{
  transform:translate(5px,0px);
  background: #ffee99;
}
.footr, .footl{
  width: 80px;
  height: 100px;
  border-radius: 70px / 50px;
}
.leg2 > .footl, .leg1 > .footr{
  align-self: center;
}
.button1{
  transform:translate(185px,227px);
}
.button2{
  transform:translate(136px,290px);
}

.button1, .button2{
  width: 50px;
  height: 50px;
  background: #fcf3ea;
  border-radius: 50px /50px;
  align-self: center;
  justify-content: center;
}

.ear1 {
  transform: translate(170px, -175px) rotate(-80deg);
}

.ear2 {
  transform: translate(-170px, -175px) rotate(-100deg);
}

.ear1,
.ear2 {
  display: flex;
  width: 160px;
  height: 140px;
  background: #b4deff;
  align-self: center;
  justify-content: center;
  position: relative; 
}

.ear2:after,
.ear1:after {
  content: '';
  position: absolute;
  top: 0%;
  bottom: 0%;
  right: -20%;
  left: 0%;
  background: inherit;
  border-radius: 20% / 50%;
}

.inear1 {
  background: #ffee99;
  transform: translate(-20px, 25px);
  position: relative; 
  z-index: 1; 
}

.inear2 {
  background: #b7e4c7;
  transform: translate(-20px, 25px);
  position: relative; 
  z-index: 1; 
}

.inear1,
.inear2 {
  width: 120px;
  height: 90px;
}
.ear2 + .inear2, .ear1 + .inear1{
  align-self: center;
}
.inear2:after, .inear1:after {
  content: '';
  position: absolute;
  top: 0%;
  bottom: 0%;
  right: -20%;
  left: 0%;
  background: inherit;
  border-radius: 20% / 50%;
}
.arml{
  transform:translate(690px, 180px) rotate(35deg);
  
}
.armr{
  transform:translate(620px, 180px) rotate(-35deg);
  
}
.armr, .arml{
  width: 150px;
  height:60px;
  background: #A2C1FF;
  align-self: center;
  justify-content: center;
}
.armr:after, .arml:after {
  content: '';
  position: absolute;
  top: -5%;
  bottom: -5%;
  right: -10%;
  left: -10%;
  background: inherit;
  border-radius: 15% / 50%;
}
.face{  
  display:flex;
  transform: translate(-325px, -5px) rotate(100deg);
  width:300px;
  height: 200px;
  background: #FDF3AF;
  border-radius: 100px / 50px;
  align-self: center;
  justify-content: center;
  
}
.face:after {
  content: '';
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: -5%;
  left: -5%;
  background: inherit;
  border-radius: 15% / 50%;
}
.circle1{
  transform:translate(-160px, -858px);
  z-index: 2; 
}
.circle2{
  transform:translate(-220px, -608px);
  z-index: 2; 
}
.circle3{
  transform:translate(-125px, -973px);
  z-index: 2; 
}
.circle4{
  transform:translate(-160px, -843px);
  z-index: 2; 
}
.circle5{
  transform:translate(-115px, -1083px);
  z-index: 2; 
}
.circle6{
  transform:translate(-130px, -1098px);
  z-index: 2; 
}
.circle1, .circle2, .circle3, .circle4, .circle5, .circle6{
  display:flex;
  width: 90px;
  height: 90px;
  background: #a2d2ff;
  border-radius: 50%;
  align-self: center;
  justify-content: center;
}
.hair1{
  transform:translate(-170px, -310px);
  
}
.hair2{
  transform:translate(-225px, -80px);
}
.hair3{
  transform:translate(-160px, -435px);
}
.hair4{
  transform:translate(-200px, -300px);
}
.hair5{
  transform:translate(-160px, -545px);
}
.hair6{
  transform:translate(-175px, -555px);
}  
.square1{
  transform:translate(-158px, -1400px) rotate(100deg);
}
.square2{
  transform:translate(-220px, -1110px) rotate(100deg);
}
.square2, .square1{
  width: 40px;
  height: 70px;
  background: #a2d2ff;
  align-self: center;
  justify-content: center;
}
.hair1, .hair2, .hair3, .hair4, .hair5, .hair6{
  width: 90px;
  height: 90px;
  background: #01baef;
  border-radius: 50%;
  align-self: center;
  justify-content: center;
  z-index: 1;
}
.eye1{
  transform:translate(-125px, 40px);
}
.eye2{
  transform:translate(130px, 40px);
} 
.eye2, .eye1{
  width: 45px;
  height: 45px;
  background: #d88e45;
  border-radius: 50%;
  align-self: center;
  justify-content: center;
  z-index: 1;
}
.mouth{
  transform:translate(-45px, 75px);
  width: 15px;
  height: 15px;
  background: #d88e45;
  border-radius: 50%;
  align-self: center;
  justify-content: center;
  z-index: 1;
} 
